name: Compatible Jasmine Versions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        jasmine-version: [2.x, 3.x, 4.x, 5.x]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Use Node.js 22.x
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 22.x
    - run: npm ci
    - run: npm install jasmine@${{ matrix.jasmine-version }} jasmine-core@${{ matrix.jasmine-version }} @types/jasmine@${{ matrix.jasmine-version }}
    - run: npm test
