name: Compatible Jasmine Versions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        jasmine-version: [2.x, 3.x, 4.x, 5.x]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Use Node.js 22.x
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 22.x
    - run: npm ci
    - run: npm install jasmine@${{ matrix.jasmine-version }} jasmine-core@${{ matrix.jasmine-version }} @types/jasmine@${{ matrix.jasmine-version }}
    - run: npm test
